body,
html,
.App,
#root,
.outerReg {
  width: 100%;
  height: 100%;
}
.bgReg{
  background-image: url("../assets/Background.jpg");

  filter: blur(1px);
  -webkit-filter: blur(1px);
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.outerReg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;

  position: absolute;
  top: 0%;

  z-index: 2;
}

.innerReg {
  width: 31%;
  max-width: 480px;
  min-width: 350px;
  margin: auto;
  padding: 50px;
}

.outerReg .form-control:focus {
  border-color: #82142f;
  box-shadow: none;
}

.outerReg h3 {
  color: #82142f;
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.innerReg button {
  background-color: #82142f;
  color: white;
  border-radius: 3;
  padding: 7;
  font-size: 10;
}
.innerReg button:hover {
  background-color: #82142f;
  color: white;
}
.errorLabel {
  color: #e53935;
  font-size: 15px;
}
.outerReg a,
a:hover {
  color: #82142f;
}
#loginPageLink {
  font-size: 16px;
  color: #82142f;
  background-color: transparent;
}
